/* .background-image {
  background-image: url('ruta-de-la-imagen.jpg'); /* Ajusta la ruta de la imagen
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.center-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/


.containerBuscar {
	width: 100%;
	background: #3f51b5;
	display: flex;
	justify-content: center;
    align-items: center;
    text-align: center;
}

.BuscarIcon {
	height: 40px;
	width: 60px;
	margin-left: -75px;
	justify-content: center;
    align-items: center;
    display: flex;
}

.inputBuscar {
	height: 40px;
	width: 60%;
	border-radius: 5px;
	padding-left: 10px;
}



.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;

}
