<div class="containerBuscar">
    <input
    class="inputBuscar"
    type="text"
    placeholder="Buscar Cliente"
    name="search"
    [(ngModel)]="search"
    matInput [formControl]="searchControl"
    [matAutocomplete]="auto"
    >
    <div class="buscarIcon">
      <mat-spinner diameter="20" color="accent" *ngIf="loading"></mat-spinner>
        <mat-icon style="margin-left: 15px;"> search</mat-icon>
      </div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
      *ngFor="let option of searchOptions
      | async"
      [value]="option">
      {{option.name}}
      </mat-option>
    </mat-autocomplete>
</div>



