<mat-toolbar class="color">
  <a href="https://es.totvs.com/">
    Totvs
  </a>
  <span class="spacer"></span>
  <a href="https://es.totvs.com/contacto/">Contáctenos</a>
  <mat-icon style="margin-left: 10px;">contact_support</mat-icon>
</mat-toolbar>
<div class="background">
    <div class="center-content-container">
    <div class="containerBuscar">
      <input
        class="inputBuscar"
        type="text"
        placeholder="Buscar Cliente"
        name="search"
        [(ngModel)]="searchQuery"
        >
        <div class="containerSearchIcon">
        <button
        mat-icon-button matTooltip="Black"
        color="black" aria-label="Example icon-button with a heart icon"
        (click)="onSearch()">
        <mat-icon class="search-icon">search</mat-icon>
        </button>
        </div>
      </div>
    </div>
  </div>
  <app-curva></app-curva>
  <app-dialog [tarjetas]="filteredClientes"></app-dialog>










