<h4 class="po-text-center po-md-6">Login</h4>

<form (ngSubmit)="login()">
  <div class="po-row">
    <po-login
    class="po-lg-6 po-md-12"
    p-label="Usuario"
    p-placeholder="Usuario"
    [(ngModel)]="userName"
    name="userName"
    #campoUserName="ngModel"
    required
    ></po-login>
  </div>
  <app-message
  *ngIf="campoUserName.invalid"
  mensaje="Usuario requerido"></app-message>
  <div class="po-row">
    <po-password
    class="po-lg-6 po-md-12"
    p-label="Contraseña"
    p-placeholder="password"
    [(ngModel)]="password"
    name="Contraseña"
    #campoPassword="ngModel"
    required
    ></po-password>
  </div>
  <app-message
  *ngIf="campoPassword.invalid"
  mensaje="Contraseña requerida"></app-message>
  <div class="po-row">
    <po-button class="po-md-6" p-label="Acceder" (p-click)="login()">Acceder</po-button>
  </div>
</form>

